*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, helvetica ,sans-serif;
}
h1 {
    color: #fff;
    font-size: 1.5rem;
}
.hamburger-menu{
    width: 30px;
    height: 30px;
}
.hamburger-menu span{
    display: block;
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 15px;
}
.main-nav{
    display: none;
    list-style-type: none;

}
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    background-color: #654fef;
}
.main-nav a{
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    font-weight: 700;
}
.main-nav li:last-child a{
    background-color: white;
    color: #654fef;
    border-radius: 4px;
    transition: all .2s ease-in;
}
.main-nav li:last-child a:hover{
    background-color: #a24fef;
    color: #fff;
}
.first{
    background-color: lawngreen;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
}
.second{
    background-color: crimson;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
}
@media (min-width:768px) {
    .hamburger-menu{
        display: none;
    }
    .main-nav{
        display: flex;
    }
    main{
        display: flex;
    }
    .first{
        width: 75%;
    }
    .second{
        width: 25%;
        height: 400px;
        margin-left: 0;
    }
}
@media (min-width:1200px) {

    .first{
        background-color: green;
    }
    .second{
       background-color: hotpink;
    }
}